body {
    background: linear-gradient(to right, hsl(37, 18%, 20%), rgb(187, 173, 164)), url('./images/texture.jpg');
    background-blend-mode: soft-light;
}

nav {
    display: flex;
    justify-content: center;
    
}

